body{
    background-image: url("../img/fondo-restaurant.jpg");
    background-attachment: fixed;
}

h2, h4, h6{
    font-family: 'Pacifico';
}

h5, h2{
     padding-top: 1rem;
}

#container{
    background: rgba(0, 0, 0, 0.35);
}

.slogan{
    padding: 1rem;
    background: #E76666;
    color: white;
}

.food{
    background: #E76666;
}

.food:hover{
    background: #e65353;
}

.titulo{
    /*padding: 0 1rem;*/
}

.right-side{
    padding: 0 1.5rem;
    margin-top: 1rem;
    color: white;
}

.left-side{
    padding: 0 1.5rem;
    margin-top: 1rem;
    color: white;
}
.navigator-side{
    background: #E5A478;
    padding: 0.5rem;
}

li > a{
    border-style: solid;
    border-color: white;
    border-width: 0.5px 1px;
    color: white;
    width: 100%;
    margin-top: 0.5rem;
}

li > a:hover{
    color: white;
    /*background: rgba(0, 0, 0, 0.07);*/
    background: #e65353;
    border-style: solid;
    border-color: #e65353;
}

label{
    color: #9e9e9e;
}

.historial{
    width: 100%;
    font-size: 0.85rem;
    color: white;
    margin: 0.5rem 1rem;
    display: block;
    font-style: italic;
}

.historial:hover{
    color: #616265;;
}

.blog-right{
    background: #F0D582;
    color: #616265;
    padding: 1rem;
}

.img-fav{
    padding: 0.25rem;
}

tbody{
    background: #E5A478;
}

.content-information{
    text-align: left;
    padding: 1rem 0;
    font-style: italic;
}

.content-image{
    margin: 1rem 0;
}

.content-blog{
    text-align: justify;
    padding: 1rem 0;
}

.comment{
    text-align: justify;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.user{
    text-align: center;
    font-size: 0.65rem;
    font-weight: bold;
}

a>i{
    padding-right: 0.5rem;
}