body{
    background-image: url("../img/fondo-restaurant.jpg");
    background-attachment: fixed;
}

.slogan{
    padding: 1rem;
    background: #E76666;
    color: white;
}

.titulo{
    padding: 0 1rem;
}

.float{
    margin: 1rem 0;
}

.navigation-left{
    background: #E5A478;
    padding: 0.5rem;
    /*color: white;*/
}

.blog-right{
    background: #F0D582;
}

.img-fav{
    padding: 0.25rem;
}

.content-information{
    text-align: left;
    padding: 1rem 0;
}

.content-image{
    margin: 1rem 0;
}

.content-blog{
    text-align: justify;
    padding: 1rem 0;
}

.comment{
    text-align: justify;
    padding: 0.5rem;
}

.user{
    text-align: center;
    font-size: 0.65rem;
    font-weight: bold;
}