body{
    background: #BFD2D9;
}

.p-t-1{
    padding-top: 1rem;
}

a[class="btn"]{
    padding-top: 1rem;
}

.header{
    background: #003851;
}

#logo{
    max-width: 6rem;
}

.logo-social{
    padding: 1rem 1.5rem;
}

.text-area-container{
    width: 100%;
}

ion-icon[name="person"]{
    font-size: 4rem;
    padding: 0 1rem;
}

a > ion-icon {
    font-size: 1.5rem;
    padding: 0;
}

.btn{
    color: white;
    /*background: #002535;*/
}

.navigator{
    padding: 1rem 0;
    background: #22646E;
}

.portrait{
    max-width: 100%;
    margin-top: 1rem;
}

.comment{
    display: inline-flex;
    padding: 1rem;
}

.buscar{
    padding-top: 1rem;
    background: #3B89AC;
}