body{
    color: #616161;
}

.inside-background{
    position: fixed;
    z-index: -1;
    width: 100%;
}

.background-height{
    height: 190px;
}

i{
    padding-right: 0.4rem;
}

#travel-logo{
    padding: 1.25rem 0.5rem;
    max-width: 9rem;
}

.navigator{
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.navigator > col{
    text-align: right;
}


.navigator > .col > a{
    float: left;
    color: white;
}

.navigator > .col > a{
    padding: 1.3rem 1.6rem;
}

.navigator > .col > a:hover{
    background: #3f51b5;
}


.mdi-max{
    font-size: 3rem;
}

.redes-sociales> a > i{
    color: whitesmoke;
    padding: 0;
}

.redes-sociales > a:hover{
    color: #d4e157;
}

img.responsive-img{
    margin: 0.25rem 0;
}

.p-t-1{
    padding-top: 1rem !important;
}

.p-a-1{
    padding: 1.5rem !important;
}

.p-x-1{
    padding: 0 0.75rem !important;
}

.badge > i{
    padding-right: 0.10rem;
}